
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-085d484364d1f7a989b7.json
build/.cmake/api/v1/reply/cmakeFiles-v1-95a414fc45d342613c16.json
build/.cmake/api/v1/reply/codemodel-v2-3d332939f4b985f3ea26.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-05-22T18-01-47-0520.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-64611c6870112b5a10d0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-64611c6870112b5a10d0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-64611c6870112b5a10d0.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-64611c6870112b5a10d0.json
build/.cmake/api/v1/reply/target-vc_project-Debug-62a6546cb1926472d943.json
build/.cmake/api/v1/reply/target-vc_project-MinSizeRel-f1ad8ad198621283f732.json
build/.cmake/api/v1/reply/target-vc_project-Release-65f370aa9b15ee4b24b8.json
build/.cmake/api/v1/reply/target-vc_project-RelWithDebInfo-7c7dff9f703ed15d926e.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-36102ace60f1b0dc8f27.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-36102ace60f1b0dc8f27.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-36102ace60f1b0dc8f27.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-36102ace60f1b0dc8f27.json
build/.cmake/api/v1/reply/toolchains-v1-bef48ba9cd493afad087.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/0cf8db340d6032d1130f8ada8deec19d/generate.stamp.rule
build/CMakeFiles/3.29.3/CMakeCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeSystem.cmake
build/CMakeFiles/3.29.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.29.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.29.3/VCTargetsPath.txt
build/CMakeFiles/3.29.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Debug/vc_project.exe
build/Debug/vc_project.pdb
build/vc_project.dir/Debug/main.obj
build/vc_project.dir/Debug/vc.obj
build/vc_project.dir/Debug/vc143.pdb
build/vc_project.dir/Debug/vc_project.exe.recipe
build/vc_project.dir/Debug/vc_project.ilk
build/vc_project.dir/Debug/vc_project.tlog/CL.command.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/Cl.items.tlog
build/vc_project.dir/Debug/vc_project.tlog/CL.read.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/CL.write.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/CustomBuild.command.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/CustomBuild.read.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/CustomBuild.write.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/link.command.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/link.read.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/link.secondary.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/link.write.1.tlog
build/vc_project.dir/Debug/vc_project.tlog/vc_project.lastbuildstate
build/vc_project.sln
build/vc_project.vcxproj
build/vc_project.vcxproj.filters
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
video_resistors.mp4
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/vc_project.dir/Debug/vc_project.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/vc_project.dir/Debug/vc_project.Build.CppClean.log
teste.pgm
teste_seg.pgm
testebgr.pgm
testergb.pgm
.vscode/settings.json
build/.cmake/api/v1/reply/index-2024-05-22T20-25-33-0585.json
*.json
*.pgm
